

<div class="jumbotron">
  <h1>Register User</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-info letrablanca" data-toggle="modal" href='#modal-id'>Sign Up</a></p>
</div>






<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Registration User</h4>
      </div>
      <div class="modal-body">





<i class="fa fa-user-plus fa-3x logoentrada"></i>
<br><br>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <br>
    <%= f.email_field :email, autofocus: true,class: 'form-control' %>
  </div>

  <div class="field">
    <br>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: 'form-control' %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class: 'form-control' %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-info letrablanca' %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default letrablanca" data-dismiss="modal">Close</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $(document).ready(function() {
    
     $('#modal').modal(options)

    }); 
</script>

