

<div class="col-sm-4">



<i class="fa fa-user-plus fa-3x"></i>
<br><br>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <br>
    <%= f.email_field :email, autofocus: true, value: 'Email',class: 'form-control' %>
  </div>

  <div class="field">
    <br>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: 'form-control' %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :password_confirmation, autocomplete: "off",class: 'form-control' %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>