

<div class="jumbotron">
  <h1>User Session</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-info" data-toggle="modal" href='#modal-id'>Log In</a></p>
</div>






<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">User Session</h4>
      </div>
      <div class="modal-body">

   <i class="fa fa-user fa-3x logoentrada"></i>
   <br><br>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 
 

  <div class="field">
    <br />
    <%= f.email_field :email, autofocus: true, class: 'form-control centerinput' %>
  </div>



  <div class="field">
    <br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control centerinput'  %>
  </div>




  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    






  <% end -%>
<br>
  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-info ' %>
  </div>
  <br>
<% end %>

  <%= link_to "<i class='fa fa-user-plus fa-2x'></i>".html_safe, new_registration_path(resource_name) %> |
  <%= link_to "<i class='fa fa-user-md fa-2x'></i>".html_safe, new_password_path(resource_name) %>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $(document).ready(function() {
    
     $('#modal').modal(options)

    }); 
</script>

