<a class="btn btn-info" data-toggle="modal" href='#modal-id'>New</a>
<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="letracentro">New Board</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="centrarcontenido">
  

<div class="field">
     Actividad <br>
    <%= f.collection_select :activity_id, Activity.all, :id, :activityName, class: "form-control",     prompt: "Seleccione Actividad" %>
</div>

<div class="field">
     Brand <br>
    <%= f.collection_select :brand_id, Brand.all, :id, :brandName, class: "form-control",     prompt: "Seleccione Brand" %>
</div>

<div class="field">
     Campaign <br>
    <%= f.collection_select :campaign_id, Campaign.all, :id, :campaignName, class: "form-control",     prompt: "Seleccione Campaign" %>
</div>

<div class="field">
     Country <br>
    <%= f.collection_select :country_id, Country.all, :id, :countryName, class: "form-control",     prompt: "Seleccione País" %>
</div>

<div class="field">
     Employee <br>
    <%= f.collection_select :employee_id, Employee.all, :id, :employeeName, class: "form-control ",     prompt: "Seleccione Employee" %>
</div>
</div>
<hr>
<br>


  <div class="actions" >
    <%= f.submit %>
  </div>
<% end %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
  $(document).ready(function() {
    
     $('#modal').modal(options)

    }); 
</script>
