<link rel="stylesheet" href="../../assets/stylesheets/shows.css">

<p id="notice "><%= notice %></p>

<h1 id="letracentro">Listing Boards</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Brand</th>
      <th>Country</th>
      <th>Employee</th>
      <th>Campaign</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.activity.activityName %></td>
        <td><%= board.brand.brandName %></td>
        <td><%= board.country.countryName %></td>
        <td><%= board.employee.employeeName %></td>
        <td><%= board.campaign.campaignName %></td>
        <td><%= board.user.email %></td>
        <td><%= link_to "<i class='fa fa-thumbs-up'></i>".html_safe, board %></td>  
        <td><%= link_to "<i class='fa fa-wrench'></i>".html_safe, edit_board_path(board) %></td>
        <td><%= link_to "<i class='fa fa-trash-o'></i>".html_safe, board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <hr id="coloreando">
  <br>
  
</table>

<br>
<br>
<br>
<br>
<%= link_to "<i class='fa fa-check fa-2x'></i>".html_safe, new_board_path %>

