<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @board.activity.activityName %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @board.brand.brandName %>
</p>

<p>
  <strong>Country:</strong>
  <%= @board.country.countryName %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @board.employee.employeeName %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @board.campaign.campaignName %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
