<br>
<div class="mostrar">
  <br>
  <div class="margen">
    <p id="notice"><%= notice %></p>
<% if @board.timedate > @board.endtime  %>
<h1>ERROR DATE</h1>
<%end%>
<p>
  <strong>Timedate:</strong>
  <%= @board.timedate %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @board.activity.activityName %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @board.brand.brandName %>
</p>

<p>
  <strong>Country:</strong>
  <%= @board.country.countryName %>
</p>


<p>
  <strong>Campaign:</strong>
  <%= @board.campaign.campaignName %>
</p>
<p>
  <strong>User:</strong>
  <%= @board.user.email %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @board.endtime %> 
</p>

<% if @board.sumtime == nil  %>
<h1>ERROR TIME</h1>
<% elsif %>
<p>
  <strong>Time Activity:</strong>
  <%= @board.sumtime %> Minutos
</p>
<% end %>

<hr>

  </div>
  <br>

</div>

<br><br>
<%= link_to "<i class='fa fa-pencil-square fa-2x'></i>".html_safe, edit_board_path(@board) %> |
<%= link_to "<i class='fa fa-arrow-circle-left fa-2x'></i>".html_safe, boards_path %>