<!DOCTYPE html>
<html>
<head>
  <title>Works</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	   <div class="container col-md-8 col-md-offset-1">
	   	<div class="row">
	   		<%if%>
	   <%user_signed_in?%>
	   <br><br>
		<%= link_to "<i class='fa fa-user-times fa-3x'> </i> ".html_safe, destroy_user_session_path, :method => :delete, class: 'active wordown' %>
		<% end %>

	<br><br>


<%= yield %>
	   	</div>
	   </div>

</body>
</html>
